/* STYLES GÉNÉRAUX */
html {
	font-family: "Times New Roman", Verdana, Arial, "Trebuchet MS", Verdana, sans-serif;
	font-size: 1em;
	color: rgb(29 66 97);
	text-align: justify;
	letter-spacing: 1px;
	box-sizing: border-box;
	background-color: rgb(29 66 97);
}

a {
	text-decoration: none;
	color: rgb(208, 169, 58);
	font-size: 1.1rem;
}

h1 {
	font-size: 3rem;
	text-align: center;
}

h2 {
	font-size: 1.6rem;
	border-bottom: 1px solid rgb(29 66 97);
	padding: 20px 0px 20px 0px;
	margin: 20px 10% 0px 10%;
	color: rgb(29 66 97);
}

h3 {
	font-size: 1.4rem;
}

.italique {
	font-style: italic;
}

.gras {
	font-weight: bold;
}

.date {
	font-style: italic
}

/* CORPS DE LA PAGE */
body {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
}

header {
	width: 80%;
	margin: 40px 0px 20px 0px;
	padding: 40px 0px;
	background-color: white;
	box-shadow: 0px 0px 15px #333;
}

nav {
	width: 80%;
	height: 90px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.liendroite {
	padding: 0px 40px 0px 40px;
	border-right: 1px solid rgb(208, 169, 58);
}

.liengauche {
	padding: 0px 20px 0px 40px;
}		

main {	
	width: 80%;
	text-align: center;
}

section {
	width: 80%;
	padding-bottom: 10px;
	margin: 20px auto;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #bbb;
	}

footer {
	width: 80%;
	text-align: center;
	color: rgb(208, 169, 58);
	border-top: 1px solid grey;
}

/* QUI SUIS JE */

#presentation {
	width: 70%;
	margin: 10px auto;
	padding: 20px;

}

	/* bloc qualités*/

#qualites {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
}

#qualites p {
	flex: 0 0 50%;
	margin: 10px auto;
	padding: 10px 20px;
}

#qualites > div:nth-child(1) {
	line-height: 1.4rem;
	text-align: left;
}


	/* images compétences*/

#logoscompetences {
	width: 100%;
}

.flex-competences {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
	margin: 10px ;
	padding: 10px;
}

#logoscompetences img {
	height: 60px;
	margin: 20px;
}

	/* immages centres d'intérêts */

.logosinterets img {
	height: 100px;
	border: 1px solid black;
	border-radius: 5px;
}	



/* FORMATION */

.lieu {
	font-weight: bold;
	font-variant: small-caps;
}

	/* l'espace est divisé en deux pour obtenir deux colonnes */
.flex-formation {
	width: 80%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
	margin: 10px auto;
	padding: 0px 10px;
}

.flex-column {
	width: 100%;
}

.flex-formation > .flex-column:nth-child(1){
	flex: 1 1 20%;
}

.flex-formation > .flex-column:nth-child(2) {
	flex: 1 1 80%;
	text-align: left;
}

	/* colonne de droite */

.barre {
	display: block;
	width: 100%;
	height: 100%;
}

.barreforme {
	display: block;
	height: 80%;
	width: 4px;
	background-color: rgb(208, 169, 58);
	margin: 20px auto 20px auto;
	padding-top: 10px;
	border-radius: 10px;
}

	/* colonne de gauche */

.flex-column > h3 {
	text-align: left;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.flex-column > p {
	text-align: left;
	margin-top: 0px;
}

/* EXPERIENCES */

.flex-experience {
	width: 80%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
	margin: 10px auto;
	padding: 0px 10px;
}

.flex-experience > .flex-column:nth-child(1){
	flex: 1 1 20%;
	color: rgb(208, 169, 58);
	font-weight: bold;

}

.flex-experience > .flex-column:nth-child(2) {
	flex: 1 1 80%;
	text-align: left;
}
